<%- include('client_side/layouts/header') %>
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
           
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Sign Up</h3>
                    
                        <form id="signupform" action="/signup" method="post" data-sb-form-api-token="API_TOKEN">
                    
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" name="username" type="text"
                                    placeholder="Enter your username..."  data-sb-validations="required" />
                                <label for="username">Username</label>
                            </div> 

                            <div class="form-floating mb-3">
                                <input class="form-control" id="fullname" name="fullname" type="text"
                                    placeholder="Enter your username..."  data-sb-validations="required" />
                                <label for="fullname">Full Name</label>
                            </div> 

                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" name="email" type="text"
                                    placeholder="Enter your email..."  data-sb-validations="required" />
                                <label for="email">Email</label>
                            </div> 

                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" name="phone" type="text"
                                    placeholder="Enter your phone..."  data-sb-validations="required" />
                                <label for="phone">Phone</label>
                            </div> 

                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" name="password" type="password"
                                    placeholder="Enter your password..."  data-sb-validations="required" />
                                <label for="password">Password</label>
                            </div> 
                    
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example1q">Roles</label>
                                <select class="form-select select" name="roles" id="roles">
                                    <option value="admin" disabled>Select Roles</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                    <option value="editor">Editor</option>
                                    <option value="moderator">Moderator</option>
                                </select>
                            </div>
                    
                            <button type="submit" class="btn btn-success btn-sm mb-1">Submit</button>
                    
                        </form>
                    
                    </div>
                </div>

              
            </div>
        </div>
    </div>

</section>
    <style>
        @media (min-width: 1025px) {
            .h-custom {
                height: 100vh !important;
            }
        }
    </style>

    <%- include('client_side/layouts/footer') %>